<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div [style.backgroundColor]="backGround" id="navbarNav">
      <ul class="navbar-nav">
        <li routerLinkActive="active current">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li routerLinkActive="active current">
          <a class="nav-link active" routerLink="/followers" [queryParams]="{page:1, order:'newest'}">Followers</a>
        </li>
        <li routerLinkActive="active current">
          <a class="nav-link" routerLink="/posts">posts</a>
        </li>
        <li routerLinkActive="active current">
          <a class="nav-link" routerLink="/tree">tree</a>
        </li>
      </ul>
    </div>
  </div>
</nav>