<!-- <h1>Angular</h1>
<app-favorite [is-Fav]="post.isFav" (change)="onFavChanged($event)"></app-favorite>
<app-case-convertor></app-case-convertor>
<app-panel>
  <div class="heading">Heading</div>
  <div class="body">
    <h2>Body</h2>
    <p>some content</p>
  </div>
</app-panel>
<app-like [isActive]="like.isLiked" [likeCount]="like.likeCount"></app-like>
<app-directives></app-directives>
<app-zippy title="Shipping Details">
  Shipping Details Content
</app-zippy>
<app-zippy title="Railroad Details">
  RailRoad Details Content
</app-zippy>
<app-contact-form></app-contact-form> -->
<!-- <app-form-exercise></app-form-exercise> -->
<!-- <signup-form></signup-form> -->
<!-- <app-form-arrays></app-form-arrays> -->
<!-- <app-form-exercise2></app-form-exercise2> -->
<!-- <app-posts></app-posts> -->
<app-http-exercise></app-http-exercise>